@import url("./clock.css");
@import url("./category.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --base-font-size: 18px;
  --font-weight-normal: 500;
  --font-weight-bold: 900;
}

:root[color-theme="dark"] {
  /* light mode */
  --background: #15202b;
  --foreground: #f1f1f1;
  --imgFilter: invert(0%);
}

:root[color-theme="light"] {
  /* light mode */
  --background: #f1f1f1;
  --foreground: #15202b;
  --imgFilter: invert(100%);
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis-Medium"),
    url("../assets/fonts/Metropolis-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis-Bold"), url("../assets/fonts/Metropolis-Black.woff2");
  font-weight: 900;
  font-style: normal;
}

html {
  font-family: "Metropolis", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: var(--base-font-size);
  font-weight: var(--font-weight-normal);
}

body {
  background: var(--background);
  color: var(--foreground);
}

body[class*="def"],
#directs .command-key,
.command-key img {
  transition: all 0.3s;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search #search-area input {
  display: none;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--foreground);
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
}

.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#collectBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toggleColor {
  width: 2rem;
  height: 2rem;
  background: var(--foreground);
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 7px;
}

.toggleClockMode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: var(--foreground);
  color: var(--background);
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
}

@media (min-width: 500px) {
  body.help .categories {
    display: grid;
    grid-template-columns: repeat(1, 50%) 50%;
    justify-content: space-around;
  }
}

@media (min-width: 1000px) {
  .category {
    margin: 2rem 0;
  }

  body.help .categories {
    display: flex;
  }
}
